<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tera Demo - {{ title }}</title>
  </head>
  <body>

    {% block content %}
    {{name}}

    {% endblock content %}

      <footer>
        <a href="/">Home</a>
      </footer>
  </body>
</html>
